.container {
  padding: 16px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}