<form>
  <div class="container">
    <div class="form-input">
    <h1>Ingresar datos del Filesystem</h1>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Tamaño de sectores (bytes)</mat-label>
        <input
          matInput
          [formControl]="sectorSizeControl"
          type="number"
          [(ngModel)]="fileSystem.sector_size"
        />

        <mat-error *ngIf="sectorSizeControl.hasError('required')">
          El tamaño de los sectores es <strong>un número requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Cantidad de sectores</mat-label>
        <input
          matInput
          type="number"
          [formControl]="sectorAmntControl"
          [(ngModel)]="fileSystem.sector_amount"
        />

        <mat-error *ngIf="sectorAmntControl.hasError('required')">
          La cantidad de sectores es <strong>un número requerido</strong>
        </mat-error>
      </mat-form-field>

      <button (click)="onSubmitClick()" mat-raised-button color="primary">
        Crear Filesystem
      </button>
    </div>
  </div>
</form>

