.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  background-color: var(--base-white);
  border-radius: 20px;
}

.wallpaper {
  position: relative;
  height: 100%;
  width: 70%;
  background-image: url("https://cdn.dribbble.com/users/1332195/screenshots/14501174/media/d13c80d520616590853bc2a0d4383092.jpg?compress=1&resize=1200x900");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.sign-up {
  position: relative;
  height: 100%;
  width: 70%;
  padding: 5%;
}

.sign-up-input {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
